.content{
  margin: 10px;
}
.nav > .active > a {
    background-color: transparent !important;
}
.nav > .active > a > .image{
  border-bottom: 2px solid black;
}

.nav > .active > a > .image> img{
  border:1px solid black;
  border-radius: 5px;
}

.nav> li > a > .image{
  border-radius:0px;
  margin-right: 40px;
}

.nav > li > a > .image > img{
  margin-bottom: 5px;
}
.tab-content{
  margin-bottom: 10px;
}
.btns{
  margin-top: 5px;
  border-top:1px solid;
}
.nav > li> a {
    background-color: transparent !important;
}
.nav > li.active > a >button{
  background-color: black ;
  color:white;
}

.nav > li> a > button{
  color: black;
  border-radius: 6px;
  height: 30px;
  width: 110px;
  margin-left: 5px;
}
.footer{
  border-top: 1px solid;
}
.bottom{
  position: absolute;
  bottom: 0;
  margin-left: 40%;
}