.container{
	margin-top: 5px;
}
.err-img{
	margin: 5px;
}
.btns{
	margin-top: 5px;
	border-bottom: 1px solid;
	border-top:1px solid;
}
.bottom{
	position: absolute;
	bottom: 0;
	margin-left: 40%
}
.nav > li> a {
    background-color: transparent !important;
}
.nav > li.active > a >button{
  background-color: black ;
  color:white;
}

.nav > li> a > button{
	color: black;
	border-radius: 6px;
	height: 30px;
	width: 120px;
	margin-left: 5px;
}